{% extends 'medico/main.html'%}
{% load django_bootstrap5 %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Consultation{%endblock%} </title>
</head>
<body>
    <nav>

          
        </div>
    </nav>
   <h1>Détail de la consultation numero {{ consultation.pk }}</h1>
<ul >
    <li><strong>Nom :</strong> {{ consultation.patient_nom }}</li>
    <li><strong>Prénom :</strong> {{ consultation.patient_prenom }}</li>
    <li><strong>Genre :</strong> {{ consultation.get_patient_genre_display }}</li>
    <li><strong>Âge :</strong> {{ consultation.patient_age }}</li>
    <li><strong>Date :</strong> {{ consultation.date_consultation }}</li>
    <li><strong>Description :</strong> {{ consultation.description }}</li>
</ul>


    
</body>
</html>
{% endblock %}