{% extends 'medico/main.html'%}
{% load django_bootstrap5 %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ajouter Consultation{% endblock %}</title>
</head>
<body>
    <hr>
    <h1>Ajouter une nouvelle consultation</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ajouter Consultation</button>
    </form>
</body>
</html>
{% endblock %}
