{% extends 'medico/main.html' %}
{% load django_bootstrap5 %}
{% block content %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ajouter Consultation{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">

        <section>
            <h2>Formulaire d'Ajout de Consultation</h2>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-success">Ajouter Consultation</button>
            </form>
        </section>
    </div>
    
</body>
</html>
{% endblock %}
