<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter Consultation</title>
</head>
<body>
     <nav>
        <div class="left"> 
            <a href="#">Medico</a>
        </div>

        <div class="right">
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'listeconsultations' %}">Consultation</a>
        </div>
    </nav>
    <hr>
    <h1>Ajouter une nouvelle consultation</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ajouter Consultation</button>
    </form>
</body>
</html>
