{% extends 'medico/main.html'%}
{% load django_bootstrap5 %}
{% block content %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Supprimer un Traitement{% endblock %}</title>
</head>
<body>
    <h2>Traitements pour la consultation de {{ consultation.patient_nom }} {{ consultation.patient_prenom }}</h2>
    
    {% if traitements %}
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
            <th>Medicament</th>
            <th>Quantite</th>
            <th>Contenant</th>
            <th>Duree en jour</th>
            <th>Effets secondaires</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for traitement in traitements %}
            <tr>
                <td>{{ traitement.medicament }}</td>
                <td>{{ traitement.quantite }}</td>
                <td>{{ traitement.contenant }}</td>
                <td>{{ traitement.duree }}</td>
                <td>{{ traitement.effects_secondaires}}</td>
                <td class="text-center align-middle">
                    <div class="btn-group btn-group-sm" role="group">
                        <a class="btn btn-danger btn-sm" href="{% url 'delete_traitement' traitement.id %}">Supprimer</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Aucun traitement pour cette consultation.</p>
    {% endif %}

    <div class="mt-3">
        <a href="{% url 'listeconsultations'   %}"> Retour à la liste</a>
    </div>
</body>
</html>
{% endblock %}