{% extends 'medico/main.html'%}
{% load django_bootstrap5 %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Modification Traitement{%endblock%}</title>
</head>
<body>
    <div class="text-center">
        <h1>Modification Traitement </h1>
    </div>
     <form method="post" class="text-center">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-sm btn-warning">Modifier Traitement</button>
    </form>
    
</body>
</html>
{% endblock %}